.PopupGiveUp {
  max-width: 340px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.PopupGiveUp-information {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  margin: 12px;
}

.PopupGiveUp-button {
  border: 1px solid black;
  border-radius: 8px;
  background: #1E1E1E;
  color: white;
  padding: 8px;
  margin: 8px;
}