.GameBoard {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;

  grid-gap: 12px;
  padding: 12px;
}

.GameBoard-buttons {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background: black;

  grid-gap: 6px;
  padding: 6px;

  width: 500px;
  height: 500px;
}